.send-button {
  background-color: rgb(15, 139, 92);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input{
  padding: 12px;
  border-radius: 12px;
  border-width: 1px;
  font-size: 15px;

  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}